
.name{
    color: black;

}

p{
    font-size: 17px;
    color: black;
    margin-left: 12%;
    margin-right: 12%;
}

h2{
    margin-left: 12%;
    margin-right: 12%;

}

h4{
    margin-left: 12%;
    margin-right: 12%;

}

ul{
    margin-left: 12%;
    margin-right: 12%;
font-size: 21px;
}
a{
    color: white;
}
.source{
    margin-left: 41%;
position: relative;
bottom: 150px;
left: 200px;
}

