
.App-logo {
    animation: App-logo-spin infinite 10s linear;
    height: 140px;
    margin-right: 80%;
  }
  .App-logo:hover {
    animation: App-logo-spin infinite 10s linear;
    height: 160px;
    margin-right: 80%;
    
  }
  
  .App-header {
    background-color: #0000;
    color: white;
    height: 1px;
    text-align: center;
  }
  
  .App-title {
    font-size: 1.5em;
    margin-bottom: 4rem;
    color: #0000
  }
.list-group-item{
    margin-bottom: 2%;
    width: 550px;
   border-radius: 16px;
   background-color: darkslategray;
}

.newChar{
display:inline-block;
padding:0.7em 1.7em;
margin:0 0.3em 0.3em 0;
border-radius:0.2em;
box-sizing: border-box;
text-decoration:none;
font-family:'Roboto',sans-serif;
font-weight:400;
color:#FFFFFF;
background-color:darkslategray;
box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
text-align:center;
position:relative;
}
.newChar:active{
box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}
.newChar:hover{
    box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
    background-color: darkslateblue;
    }

.link{
    color: white;
    border-style: solid;
    border: 100px;
    border-color: black;
}
.list-group-item:hover{
    margin-bottom: 2%;
    width: 550px;
   border-radius: 16px;
   background-color: darkslateblue;
}

.list-overflow-container{
      margin-left: 24%;  
      margin-top: 5%;
}

.list-group{
    max-height: 550px;
    max-width: 1000px;
    overflow-Y: scroll;
}

.list-group::-webkit-scrollbar {
    background-color: #0000;
    width: 12px;
    border-radius: 16px;     
}

.list-group::-webkit-scrollbar:hover {
    background-color: whitesmoke;
}

.list-group::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 16px;
}

.list-group::-webkit-scrollbar-thumb:hover {
    background-color: lighten(#494949, 20);
}

.noChar{
margin-left: 36.5%;
font-weight: bolder;
font-size: 30px;
}

.fa-close {
    cursor: pointer;
    color: #f03f3f;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

  @media only screen and (max-width: 1024px) {
    .list-overflow-container{
        margin-left: 15%;  
        margin-top: 5%;
  }
  .list-group{
    max-height: 450px;
    max-width: 1000px;
    overflow-Y: scroll;
}
}


@media only screen and (max-width: 850px) {
    .list-overflow-container{
 margin-left: 18% !important ;
  }

  .list-group-item{
      width: 300px;
      
  }

  .list-group{
    max-height: 850px;
    max-width: 1000px;
    overflow-Y: scroll;
}
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
    height: 100px;
    margin-right: 80%;
  }
  .App-logo:hover {
    animation: App-logo-spin infinite 10s linear;
    height: 110px;
    margin-right: 80%;
    
  }
  .container {
    height: 86vh;
    margin-top: 1rem;
}

}


@media only screen and (max-width: 600px) {
    .list-overflow-container{
        margin-top: 5%;
        padding-right: 60%;
  }
  .list-group{
      margin-left: -5%;
  }
  .list-group-item{
      width: 300px;
  }
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
    height: 100px;
    margin-right: 80%;
  }
  .App-logo:hover {
    animation: App-logo-spin infinite 10s linear;
    height: 110px;
    margin-right: 80%;
    
  }
  .container {
    height: 86vh;
    margin-top: 1rem;
}
}