/* html, body {
    background-image: url("https://images.pexels.com/photos/235985/pexels-photo-235985.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-color: #e4c55f;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

.container {
    /* background-image: url("https://images.pexels.com/photos/235985/pexels-photo-235985.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); */
    background-image: url("./assets/vintage-old-paper.jpg");
    background-color: #e4c55f;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 58rem;
}