html, body {
    background-image: url("./assets/vintage-old-paper.jpg");
    background-color: #e4c55f;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}