/* 
#hexagon3 {
    transform: rotate(-90deg);
    width: 6.1rem;
    height: 4.6rem;
    background: black;
    position: absolute;
    top: 7rem;
    left: 1rem;
    margin-top: -3.8125rem;
}
#hexagon3:before {
    content: "";
    position: absolute;
    top: -1.25rem;
    left: 0;
    width: 0;
    height: 0;
    border-left: 2.9rem solid transparent;
    border-right: 3.25rem solid transparent;
    border-bottom: 1.25rem solid black;
}
#hexagon3:after {
    content: "";
    position: absolute;
    bottom: -1.25rem;
    left: 0;
    width: 0;
    height: 0;
    border-left: 2.9rem solid transparent;
    border-right: 3.25rem solid transparent;
    border-top: 1.25rem solid black;
    z-index: -1;
}
#hexagon4 {
    transform: rotate(0deg);
    width: 4.1rem;
    height: 4.25rem;
    background: gray;
    position: relative;
    top: 5rem;
    left: 0rem;
    margin-top: -4.8125rem;
}
#hexagon4:before {
    content: "";
    position: absolute;
    top: -1.25rem;
    left: 0;
    width: 0;
    height: 0;
    border-left: 2.9rem solid transparent;
    border-right: 1.25rem solid transparent;
    border-bottom: 1.25rem solid gray;
}
#hexagon4:after {
    content: "";
    position: absolute;
    bottom: -1.25rem;
    left: 0;
    width: 0;
    height: 0;
    border-left: 2.9rem solid transparent;
    border-right: 1.25rem solid transparent;
    border-top: 1.25rem solid gray;
    z-index: -1;
}
#hexagon5 {
    transform: rotate(-90deg);
    width: 6.5rem;
    height: 4.6rem;
    background: black;
    position: absolute;
    top: 7rem;
    left: 0rem;
    margin-top: -3.8125rem;
}
#hexagon5:before {
    content: "";
    position: absolute;
    top: -1.25rem;
    left: 0;
    width: 0;
    height: 0;
    border-left: 3.25rem solid transparent;
    border-right: 3.25rem solid transparent;
    border-bottom: 1.25rem solid black;
}
#hexagon5:after {
    content: "";
    position: absolute;
    bottom: -1.25rem;
    left: 0;
    width: 0;
    height: 0;
    border-left: 3.25rem solid transparent;
    border-right: 3.25rem solid transparent;
    border-top: 1.25rem solid black;
    z-index: -1;
}
#hexagon6 {
    transform: rotate(0deg);
    width: 4.1rem;
    height: 4.25rem;
    background: gray;
    position: relative;
    top: 5rem;
    left: 0rem;
    margin-top: -4.8125rem;
}
#hexagon6:before {
    content: "";
    position: absolute;
    top: -1.25rem;
    left: 0;
    width: 0;
    height: 0;
    border-left: 2.9rem solid transparent;
    border-right: 1.25rem solid transparent;
    border-bottom: 1.27rem solid gray;
}
#hexagon6:after {
    content: "";
    position: absolute;
    bottom: -1.25rem;
    left: 0;
    width: 0;
    height: 0;
    border-left: 2.9rem solid transparent;
    border-right: 1.25rem solid transparent;
    border-top: 1.27rem solid gray;
    z-index: -1;
} */







