#avatarDummyIMG {
    height: 8rem;
    width: 7rem;
    position: absolute;
    left: 1.5rem;
}

@media only screen and (max-width: 768px) {
    #avatarDummyIMG {
        height: 6rem;
        width: 5rem;
    }
}

@media (max-width: 850px) and (orientation: landscape) {
    #avatarDummyIMG {
        height: 6rem;
        width: 5rem;
    }
}