#rectangle {
    width: 5.5rem;
    height: 2.25rem;
    background: chocolate;
}
#squareTV {
    width: 5.5rem;
    height: 80px;
    background: red;
    position: relative;
    -moz-border-radius: 0.625rem;
    -webkit-border-radius: 0.625rem;
    border-radius: 0.625rem;
}
#rectangleRounded {
    width: 5.5rem;
    height: 2.25rem;
    background: yellow;
    position: relative;
    -moz-border-radius: 0.625rem;
    -webkit-border-radius: 0.625rem;
    border-radius: 0.625rem;
}
#oval {
    width: 5.5rem;
    height: 2.25rem;
    background: orange;
    border-radius: 3.125rem / 3.125rem;
}
#circle {
    width: 2.25rem;
    height: 2.25rem;
    background: orangered;
    border-radius: 3.125rem / 3.125rem;
    position: relative;
    right: -3.25rem;
}