#squareTV9 {
    margin: auto;
    margin-top: 1rem;
    margin-left: 1rem;
    width: 17rem;
    height: 20rem;
    background: #c7b48c;
    position: relative;
    -moz-border-radius: 0.625rem;
    -webkit-border-radius: 0.625rem;
    border-radius: 0.625rem;
}

@media only screen and (max-width: 1024px) {
    #squareTV9 {
        margin-top: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    #squareTV9 {
        margin-top: 2rem;
        width: 13rem;
    }
}

@media (max-width: 850px) and (orientation: landscape) {
    #squareTV9 {
        margin-top: 1.5rem;
        width: 14rem;
        margin-left: 0rem;
    }
}
@media (max-width: 680px) and (orientation: landscape) {
    #squareTV9 {
        width: 12rem;
        margin-left: 0.75rem;
    }
}
@media screen and (max-width: 480px) {
    #squareTV9 {
        width: 20.25rem;
        left: -15rem;
        margin-top: 0.5rem;
        height: 10rem;
    }
}
@media screen and (max-width: 380px) {
    #squareTV9 {
        width: 20rem;
        left: -14.5rem;
    }
}