#squareTV9 {
    margin: auto;
    margin-top: 1rem;
    margin-left: 1rem;
    width: 17rem;
    height: 28rem;
    background: #c7b48c;
    position: relative;
    -moz-border-radius: 0.625rem;
    -webkit-border-radius: 0.625rem;
    border-radius: 0.625rem;
}
.charFeaturesTxt {
    background: #5b3624;
    color: wheat;
    width: 17rem;
    height: 2rem;
    border-radius: 0.625rem;
    position: relative;
    text-align: center;
}

@media only screen and (max-width: 1024px) {
    #squareTV9 {
        margin-top: 2rem;
        height: 35rem;
    }
}
@media only screen and (max-width: 1366px) and (orientation: landscape) {
    #squareTV9 {
        height: 35rem;
    }
}
@media only screen and (max-width: 768px) {
    #squareTV9 {
        margin-top: 2rem;
        width: 13rem;
        margin-left: 1.5rem;
        height: 35rem;
    }
    .charFeaturesTxt {
        width: 13rem;
    }
    .charFeats {
        font-size: 1rem;
    }
}

@media (max-width: 850px) and (orientation: landscape) {
    #squareTV9 {
        margin-top: 1.5rem;
        width: 14rem;
        margin-left: 0rem;
    }
    .charFeaturesTxt {
        width: 14rem;
    }
    .charFeats {
        font-size: 1rem;
    }
}
@media (max-width: 680px) and (orientation: landscape) {
    #squareTV9 {
        width: 12rem;
        margin-left: 0.75rem;
    }
    .charFeaturesTxt {
        width: 12rem;
    }
    .charFeats {
        font-size: 1rem;
    }
}
@media screen and (max-width: 480px) {
    #squareTV9 {
        width: 20.25rem;
        left: -15.5rem;
        margin-top: 0.5rem;
        height: 10rem;
    }
    .charFeaturesTxt {
        width: 20.25rem;
    }
    .charFeats {
        font-size: 1rem;
    }
}
@media screen and (max-width: 380px) {
    #squareTV9 {
        width: 20rem;
        left: -15rem;
    }
    .charFeaturesTxt {
        width: 20rem;
    }
    .charFeats {
        font-size: 1rem;
    }
}
@media only screen and (max-width: 640px) and (orientation: landscape) {
    #squareTV9 {
        width: 11.5rem;
        height: 35rem;
    }
    .charFeaturesTxt {
        width: 11.5rem;
    }
    .charFeats {
        font-size: 0.8rem;
    }
}
@media only screen and (max-width: 360px) and (orientation: portrait) {
    #squareTV9 {
        width: 19.25rem;
        left: -14rem;
    }
    .charFeaturesTxt {
        width: 19.25rem;
    }
    .charFeats {
        font-size: 1rem;
    }
}
@media only screen and (max-width: 320px) and (orientation: portrait) {
    #squareTV9 {
        width: 17rem;
        left: -12.5rem;
    }
    .charFeaturesTxt {
        width: 17rem;
    }
    .charFeats {
        font-size: 1rem;
    }
}
@media only screen and (max-width: 568px) and (orientation: landscape) {
    #squareTV9 {
        width: 33.25rem;
        left: -23rem;
        margin-top: 1.5rem;
        height: 10rem;
    }
    .charFeaturesTxt {
        width: 33.25rem;
    }
    .charFeats {
        font-size: 1rem;
    }
}