#squareTV8 {
    margin: auto;
    margin-top: 1rem;
    margin-left: 1rem;
    width: 17rem;
    height: 28rem;
    background: #c7b48c;
    position: relative;
    -moz-border-radius: 0.625rem;
    -webkit-border-radius: 0.625rem;
    border-radius: 0.625rem;
}

#rectangle2 {
position: relative;
top: -0.5rem;
left: 2rem;
width: 15rem;
height: 6.5rem;
background: #684a2e;
}
#rectangle3 {
position: relative;
top: -0.5rem;
left: 2rem;
width: 15rem;
height: 2.25rem;
background: #aa8259;
}
#rectangle4 {
position: absolute;
top: -0.5rem;
left: 2rem;
width: 5rem;
height: 2.25rem;
background: #aa8259;
}
#rectangle5 {
position: absolute;
top: -0.5rem;
left: 1rem;
width: 3.6rem;
height: 2.25rem;
background: #AA8226;
}
#rectangle6 {
position: absolute;
top: -0.5rem;
left: -1rem;
width: 3.6rem;
height: 2.25rem;
background: #c7b48c;
}
#rectangle7 {
position: relative;
top: 1.5rem;
left: 2rem;
width: 5rem;
height: 2.25rem;
background: #aa8259;
}
#rectangle8 {
position: relative;
top: 1.5rem;
left: 1rem;
width: 3.6rem;
height: 2.25rem;
background: #AA8226;
}
#rectangle9 {
position: relative;
top: 1.5rem;
left: -1rem;
width: 3.6rem;
height: 2.25rem;
background: #c7b48c;
}
.space {
    margin-top: 0.5rem;
}

@media only screen and (max-width: 1024px) {
    #squareTV8 {
        margin-top: 2rem;
        height: 35rem;
    }
}
@media only screen and (max-width: 1366px) and (orientation: landscape) {
    #squareTV8 {
        height: 35rem;
    }
}
@media only screen and (max-width: 768px) {
    #squareTV8 {
        margin-top: 2rem;
        width: 15rem;
        margin-left: 1rem;
        height: 35rem;
    }
    #rectangle2 {
        width: 13rem;
    }
    #rectangle3 {
        width: 13rem;
    }
}

@media (max-width: 850px) and (orientation: landscape) {
    #squareTV8 {
        margin-top: 1.5rem;
        width: 14rem;
        margin-left: 0.5rem;
    }
    #rectangle2 {
        width: 12rem;
    }
    #rectangle3 {
        width: 12rem;
    }
}
@media (max-width: 850px) and (orientation: landscape) {
    #squareTV8 {
        width: 13.75rem;
        margin-left: 0.5rem;
    }
    #rectangle2 {
        width: 11rem;
    }
    #rectangle3 {
        width: 11rem;
    }
}
@media (max-width: 680px) and (orientation: landscape) {
    #squareTV8 {
        margin-left: -0.25rem;
    }
}
@media screen and (max-width: 480px) {
    #squareTV8 {
        top: 29.5rem;
        width: 20.25rem;
        left: -7rem;;
        margin-left: 0.5rem;
    }
}
@media screen and (max-width: 380px) {
    #squareTV8 {
        top: 44.5rem;
        width: 20rem;
    }
    #rectangle2, #rectangle3 {
        left: 4.5rem;
    }
    .space {
        margin-left: 3rem;
    }
}
@media only screen and (max-width: 640px) and (orientation: landscape) {
    #squareTV8 {
        width: 13.25rem;
    }
}
@media only screen and (max-width: 360px) and (orientation: portrait) {
    #squareTV8 {
        width: 19.25rem;
        margin-left: 0.8rem;
    }
}
@media only screen and (max-width: 320px) and (orientation: portrait) {
    #squareTV8 {
        width: 17rem;
        margin-left: 1.5rem;
    }
}
@media only screen and (max-width: 568px) and (orientation: landscape) {
    #squareTV8 {
        top: 10.5rem;
        width: 16.25rem;
        left: 5.5rem;;
        margin-left: 0.5rem;
    }
} 