#squareTV4, #squareTV5 {
    margin-top: 1rem;
    margin-left: 1rem;
    width: 16.5rem;
    height: 5.25rem;
    background: #5b3624;
    position: relative;
    -moz-border-radius: 0.625rem;
    -webkit-border-radius: 0.625rem;
    border-radius: 0.625rem;
}
#rectangleRounded4 {
    margin-top: 2rem;
    width: 8rem;
    height: 3.25rem;
    background: #c7b48c;
    position: absolute;
    -moz-border-radius: 0.625rem;
    -webkit-border-radius: 0.625rem;
    border-radius: 0.625rem;
}
#rectangleRounded5 {
    z-index: 0;
    left: 8.25rem;
    margin-top: 2rem;
    width: 8.25rem;
    height: 3.25rem;
    background: #c7b48c;
    position: absolute;
    -moz-border-radius: 0.625rem;
    -webkit-border-radius: 0.625rem;
    border-radius: 0.625rem;
}
#rectangleRounded6 {
    margin-top: 1rem;
    margin-left: 1rem;
    width: 16.5rem;
    height: 4rem;
    background: #c7b48c;
    position: relative;
    -moz-border-radius: 0.625rem;
    -webkit-border-radius: 0.625rem;
    border-radius: 0.625rem;
}

@media only screen and (max-width: 1024px) {
    .hpCentral {
        margin-left: 10rem;
    }
}
@media only screen and (max-width: 768px) {
    .hpCentral {
        margin-left: 3rem;
    }
}

@media (max-width: 850px) and (orientation: landscape) {
    .hpCentral {
        margin-left: 3rem;
    }
}
@media (max-width: 680px) and (orientation: landscape) {
    .hpCentral {
        margin-left: 0.5rem;
    }
}
@media screen and (max-width: 480px) {
    .hpCentral {
        position: absolute;
        top: 30rem;
        margin-left: 2rem;
    }
}
@media screen and (max-width: 380px) {
    .hpCentral {
        margin-left: 1.25rem;
    }
}
@media only screen and (max-width: 640px) and (orientation: landscape) {
    .hpCentral {
        margin-left: 1rem;
    }
}