.name {
    margin-top: 1rem;
    border-top: 0.2rem solid black;
    border-left: 0.2rem solid black;
    border-bottom: 0.2rem solid black;
    text-align: center;
}
.background {
    margin-top: 1rem;
    border-top: 0.2rem solid black;
    border-bottom: 0.2rem solid black;
    text-align: center;
}
.expPoints {
    margin-top: 1rem;
    border-top: 0.2rem solid black;
    border-right: 0.2rem solid black;
    border-bottom: 0.2rem solid black;
    text-align: center;
}
.race {
    border-top: 0.2rem solid black;
    border-left: 0.2rem solid black;
    border-bottom: 0.2rem solid black;
    text-align: center;
}
.alignment {
    border-top: 0.2rem solid black;
    border-bottom: 0.2rem solid black;
    text-align: center;
}
.classLvl {
    border-top: 0.2rem solid black;
    border-right: 0.2rem solid black;
    border-bottom: 0.2rem solid black;
    text-align: center;
}
.col-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xl-4 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

@media screen and (max-width: 480px) {
    .name {
        margin-right: 0.5rem;
        border-right: 0.2rem solid black;
    }
    .background {
        margin-right: 0.5rem;
        border-right: 0.2rem solid black;
        border-left: 0.2rem solid black;
    }
    .alignment {
        margin-right: 0.5rem;
        border-bottom: none;
        border-top: none;
    }
    .classLvl {
        margin-right: 0.5rem;
        border-left: 0.2rem solid black;
    }
    .expPoints {
        border-right: none;
        border-top: none;
        margin-top: 0rem;
        border-bottom: none;
    }
    .race {
        border-top: none;
        border-left: none;
        border-bottom: none;
    }
}
@media only screen and (max-width: 568px) and (orientation: landscape) {
    .name {
        margin-right: 0.5rem;
        border-right: 0.2rem solid black;
    }
    .background {
        margin-right: 0.5rem;
        border-right: 0.2rem solid black;
        border-left: 0.2rem solid black;
    }
    .alignment {
        margin-right: 0.5rem;
        border-bottom: none;
        border-top: none;
    }
    .classLvl {
        margin-right: 0.5rem;
        border-left: 0.2rem solid black;
    }
    .expPoints {
        border-right: none;
        border-top: none;
        margin-top: 0rem;
        border-bottom: none;
    }
    .race {
        border-top: none;
        border-left: none;
        border-bottom: none;
    }
}