#squareTV7 {
    margin: auto;
    margin-top: 1rem;
    margin-left: 1rem;
    width: 17rem;
    height: 27rem;
    background: #c7b48c;
    position: relative;
    -moz-border-radius: 0.625rem;
    -webkit-border-radius: 0.625rem;
    border-radius: 0.625rem;
    justify-content: center;
    align-content: center;

}
#squareTV7 > ul {
    list-style: none;
    padding: 1rem;
    line-height: 1.55
}
.skillsTxt {
    background: #5b3624;
    color: wheat;
    width: 17rem;
    height: 2rem;
    border-radius: 0.625rem;
    position: relative;
    text-align: center;
}

@media only screen and (max-width: 1024px) {
    #squareTV7 {
        margin-top: 2rem;
        height: 35rem;
    }
}
@media only screen and (max-width: 1366px) and (orientation: landscape) {
    #squareTV7 {
        height: 35rem;
    }
}
@media only screen and (max-width: 768px) {
    #squareTV7 {
        margin-top: 2rem;
        width: 15rem;
        margin-left: 0.5rem;
        height: 35rem;
    }
    .skillsTxt {
        width: 15rem;
    }
}

@media (max-width: 850px) and (orientation: landscape) {
    #squareTV7 {
        margin-top: 1.5rem;
        width: 14rem;
        margin-left: 0.75rem;
    }
    .skillsTxt {
        width: 14rem;
    }
}

@media (max-width: 680px) and (orientation: landscape) {
    #squareTV7 {
        width: 12rem;
        margin-left: 0.5rem;
    }
    .skillsTxt {
        width: 12rem;
    }
}
@media screen and (max-width: 480px) {
    #squareTV7 {
        width: 20.25rem;
        top: 9rem;
        margin-left: 1.45rem;
        height: 35rem;
    }
    .skillsTxt {
        width: 20.25rem;
    }
}
@media screen and (max-width: 380px) {
    #squareTV7 {
        width: 20rem;
        top: 9rem;
        margin-left: 0.5rem;
        height: 35rem;
    }
    .skillsTxt {
        width: 20rem;
    }
}
@media only screen and (max-width: 640px) and (orientation: landscape) {
    #squareTV7 {
        width: 11.5rem;
        margin-left: 0.5rem;
        height: 35rem;
    }
    .skillsTxt {
        width: 11.5rem;
    }
}
@media only screen and (max-width: 360px) and (orientation: portrait) {
    #squareTV7 {
        width: 19.25rem;
        margin-left: 0.4rem;
    }
    .skillsTxt {
        width: 19.25rem;
    }
}
@media only screen and (max-width: 320px) and (orientation: portrait) {
    #squareTV7 {
        width: 17rem;
    }
    .skillsTxt {
        width: 17rem;
    }
}
@media only screen and (max-width: 568px) and (orientation: landscape) {
    #squareTV7 {
        width: 16.25rem;
        top: 10.5rem;
        margin-left: 0.5rem;
    }
    .skillsTxt {
        width: 16.25rem;
    }
}