#hexagon1 {
    transform: rotate(-90deg);
    width: 6.5rem;
    height: 4.6rem;
    background: #5b3624;
    position: absolute;
    top: 7rem;
    left: 1.5rem;
    margin-top: -3.8125rem;
}
.armorclassTxt {
    transform: rotate(90deg);
    direction: ltr;
    position: relative;
    top: 1.25rem;
    left: 2rem;
    color: white;
    word-wrap: break-word;
    color: wheat;
    text-align: center;
}
.initiativeTxt {
    transform: rotate(90deg);
    direction: ltr;
    position: relative;
    top: 3rem;
    left: 2rem;
    color: white;
    word-wrap: break-word;
    color: wheat;
}
.speedTxt {
    transform: rotate(90deg);
    direction: ltr;
    position: relative;
    top: 3.75rem;
    left: 2rem;
    color: white;
    word-wrap: break-word;
    color: wheat;
}
.hexagonTxt2 {
    transform: rotate(90deg);
    direction: ltr;
    position: relative;
    top: 0.75rem;
    color: white;
    font-size: 2.5rem;
    text-align: center;
}
#hexagon1:before {
    content: "";
    position: absolute;
    top: -1.23rem;
    left: 0;
    width: 0;
    height: 0;
    border-left: 3.25rem solid transparent;
    border-right: 3.25rem solid transparent;
    border-bottom: 1.25rem solid #5b3624;
}
#hexagon1:after {
    content: "";
    position: absolute;
    bottom: -1.22rem;
    left: 0;
    width: 0;
    height: 0;
    border-left: 3.25rem solid transparent;
    border-right: 3.25rem solid transparent;
    border-top: 1.25rem solid #5b3624;
    z-index: -1;
}
#hexagon2 {
    transform: rotate(0deg);
    width: 4.1rem;
    height: 4.25rem;
    background: #c7b48c;
    position: relative;
    top: 3.5rem;
    left: 0rem;
    margin-top: -4.8125rem;
}
#hexagon2:before {
    content: "";
    position: absolute;
    top: -1.25rem;
    left: 0;
    width: 0;
    height: 0;
    border-left: 2.9rem solid transparent;
    border-right: 1.25rem solid transparent;
    border-bottom: 1.27rem solid #c7b48c;
}
#hexagon2:after {
    content: "";
    position: absolute;
    bottom: -1.25rem;
    left: 0;
    width: 0;
    height: 0;
    border-left: 2.9rem solid transparent;
    border-right: 1.25rem solid transparent;
    border-top: 1.27rem solid #c7b48c;
    z-index: -1;
}
#hexagon2armorclass {
    transform: rotate(0deg);
    width: 4.1rem;
    height: 4.25rem;
    background: #c7b48c;
    position: relative;
    top: 2.5rem;
    left: 0rem;
    margin-top: -4.8125rem;
}
#hexagon2armorclass:before {
    content: "";
    position: absolute;
    top: -1.25rem;
    left: 0;
    width: 0;
    height: 0;
    border-left: 2.9rem solid transparent;
    border-right: 1.25rem solid transparent;
    border-bottom: 1.27rem solid #c7b48c;
}
#hexagon2armorclass:after {
    content: "";
    position: absolute;
    bottom: -1.25rem;
    left: 0;
    width: 0;
    height: 0;
    border-left: 2.9rem solid transparent;
    border-right: 1.25rem solid transparent;
    border-top: 1.27rem solid #c7b48c;
    z-index: -1;
}

@media only screen and (max-width: 1024px) {
    #hexagon1 {
        left: 5.5rem;
    }
}

@media only screen and (max-width: 768px) {
    #hexagon1 {
        left: 3.5rem;
        top: 6rem;
    }
}

@media (max-width: 850px) and (orientation: landscape) {
    #hexagon1 {
        top: 5.5rem;
        left: 3.5rem;
    }
}