.single-task  {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(34, 34, 34);
    padding: 0 1rem;
    margin-bottom: 1rem;
    background-color:rgb(67, 104, 31);
    border-radius: 55px;
    color: slategray;
    opacity: 10%;
    height: 50px;
}



.tasks  {
    
    margin-bottom: 1rem;
    padding: 1rem 1rem;
    border-radius: 5px;
    max-height: 250px;
    overflow-Y: scroll;
    background-color: #0000;
    width: 500px;
    margin-left: 52%
}

.tasks::-webkit-scrollbar {
    background-color: #0000;
    width: 12px;
    border-radius: 16px;     
}

.tasks::-webkit-scrollbar:hover {
    background-color: whitesmoke;
}

.tasks::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 16px;
}

.tasks::-webkit-scrollbar-thumb:hover {
    background-color: lighten(#494949, 20);
}

.fa-close {
    
    cursor: pointer;
    color: #f03f3f;
}